<!-- app/views/pipeline_elements/index.html.erb -->

<h1>Pipeline Elements</h1>
<p>Welcome to the Pipeline Elements page!</p>
<p>We will list the pipeline elements here</p>
<p>Has CircleCI deployed to Heroku?</p>
<p>Has CircleCI deployed to Heroku? With split jobs?</p>
<p>This is the develop branch</p>
<p>Forcing a build to see if the main branch runs</p>
<p>Pushed feature/my_new_feature_2</p>