<!-- app/views/pipeline_elements/index.html.erb -->

<h1>Pipeline Elements</h1>
<p>Welcome to the Pipeline Elements page!</p>
<span>We will list the pipeline elements here</span>
<span>Has CircleCI deployed to Heroku?</span>