<!-- app/views/pipeline_elements/index.html.erb -->

<h1>Pipeline Elements</h1>
<p>Welcome to the Pipeline Elements page!</p>
<p>We will list the pipeline elements here</p>
<% pipeline_elements = ["Github", "CircleCI", "Rspec", "Heroku", "Staging", "Capybara", "Production", "Scout"] %>
<ul>
  <div class="pipeline_elements">
    <% pipeline_elements.each do |pipeline_element| %>
      <li><%= pipeline_element %></li>
    <% end %>
  </div>
</ul>

<span>Here is content for my video demo</span>